<!-- Begin Statistic Section -->
<section id="statistic" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.statisticBlockImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Important dates</h3>

			<div class="dates">
			<ul>
			<li>
						<strong>The Registration is open NOW – please register <a href="https://www.regonline.com/builder/site/tab2.aspx?EventID=2201744" target="_blank">HERE</a></strong><br>
			Note: Authors should register until Friday, February 9th midnight. 
			In case of problems, please contact guido.wirtz@uni-bamberg.de
			</li>
			<li>Workshop Proposal: <a href="blog/call-for-workshops"><strike>16. October 2017</strike></a></li>
			<li>Submission Deadline: <strike>6. December 2017</strike></li>
			<li>WiP Submission Deadline: <a href="blog/call-for-wip"><strike>9. January 2018</strike></a></li>
			<li>Authors Notification: <strike>15. January 2018</strike></li>
			<li>Camera-ready Paper: <strike>01. February 2018</strike> <strong>09. February 2018</strong></li>
			<li>Registration Due: <strike>01. February 2018</strike> <strong>09. February 2018</strong></li>
			<li>Conference Dates: <strong>26. – 29. March 2018</strong></li>
			<li>&nbsp;</li>
			<li><a href="blog/visa-requests-invitation-letters"><strong style="color: red">For visa requests/invitation letters please read here!</strong></a></li>
			</ul>
			</div>
			
			<a href="{{ site.submissionLink }}" class="btn btn-primary" target="_blank">Register</a>
		</div>

    </div>
	
</section>
<!-- End Statistic Section -->